## [Start] Stash resolver specific context.. **
$util.qr($ctx.stash.put("typeName", "Task"))
$util.qr($ctx.stash.put("fieldName", "assignedRidersDisplayString"))
{}
## [End] Stash resolver specific context.. **