name: Running Code Coverage

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Create empty aws-exports file
      run: touch src/aws-exports.js

    - name: build graphql package
      run: npm run build:simple --workspace @platelet-app/graphql

    - name: build models package
      run: npm run build --workspace @platelet-app/models

    - name: Run the tests
      run: npm test -- --coverage --silent
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
