name: Qodana

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2022.3.4
        env:
           QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
